@import "macchiato.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 15px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px;
}

button:hover {
    background: inherit;
}

#workspaces {
  border-radius: 0.5rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 5px;
}

#workspaces button {
  color: @lavender;
  border-radius: 0.5rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 0.5rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 0.5rem;
  background-color: transparent;
  border-color: @mauve;
}

#network,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#custom-expand-icon {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#bluetooth,
#power-profiles-daemon,
#custom-notification {
  background-color: @surface1;
  padding: calc(0.5rem - 3px) 1rem;
  margin: 5px 0;
  border-top: 3px solid @surface0;
  border-bottom: 3px solid @surface0;
}

#clock {
  color: @blue;
  border-radius: 0.5rem;
  margin-right: 1rem;
  font-weight: 800;
}

#bluetooth {
  color: @blue;
}

#power-profiles-daemon.power-saver {
  color: @green;
}

#power-profiles-daemon.balanced {
  color: @blue;
}

#power-profiles-daemon.performance {
  color: @yellow;
}

#battery {
  color: @green;
  border-radius: 0 0.5rem 0.6rem 0;
  margin-right: 5px;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#network {
  color: @yellow;
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 0;
}

#custom-lock {
    border-radius: 0.5rem 0 0 0.5rem;
    color: @lavender;
}

#custom-power {
    margin-right: 5px;
    border-radius: 0 0.5rem 0.5rem 0;
    color: @red;
}

#custom-notification {
    border-radius: 0;
    color: @peach;
}

#custom-expand-icon {
    border-radius: 0.5rem 0 0 0.5rem;
    margin-left: 5px;
    color: @blue;
}

#tray {
  margin-right: 5px;
  border-radius: 0.5rem;
}
